html
    head
        title
        meta
    body
        div(id="kl",name="oop")
            ul#ooppoo&attributes({title:'jk',name:'ij'})
                li 111name: #{name}
                li 222
                li 333
                -var a=100
                -var b=100
                li 结果：#{a+b}